In [1]:
from utils import read_clean_data, test_columns_and_data_type, test_gte_min_variables, test_continuous_outlier_variables

In [18]:
new_filename = 'data/2005-04_sales.csv'
new_data = read_clean_data(new_filename)

my_test_results = dict()

In [3]:
new_data.head()

,ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,ORDERDATE,STATUS,MONTH_ID,YEAR_ID,PRODUCTLINE,...,ADDRESSLINE1,ADDRESSLINE2,CITY,STATE,POSTALCODE,COUNTRY,TERRITORY,CONTACTLASTNAME,CONTACTFIRSTNAME,DEALSIZE
0,10403,24,100.0,7,2434.56,4/8/2005 0:00,Shipped,4,2005,Motorcycles,...,Berkeley Gardens 12 Brewery,NaN,Liverpool,NaN,WX1 6LT,UK,EMEA,Devon,Elizabeth,Small
1,10402,45,100.0,1,5833.80,4/7/2005 0:00,Shipped,4,2005,Motorcycles,...,"25, rue Lauriston",NaN,Paris,NaN,75016,France,EMEA,Perrier,Dominique,Medium
2,10403,66,100.0,9,11886.60,4/8/2005 0:00,Shipped,4,2005,Motorcycles,...,Berkeley Gardens 12 Brewery,NaN,Liverpool,NaN,WX1 6LT,UK,EMEA,Devon,Elizabeth,Large
3,10400,64,100.0,9,9661.44,4/1/2005 0:00,Shipped,4,2005,Classic Cars,...,3086 Ingle Ln.,NaN,San Jose,CA,94217,USA,NaN,Frick,Sue,Large
4,10403,66,100.0,6,8648.64,4/8/2005 0:00,Shipped,4,2005,Motorcycles,...,Berkeley Gardens 12 Brewery,NaN,Liverpool,NaN,WX1 6LT,UK,EMEA,Devon,Elizabeth,Large

In [19]:
cols_and_dtype = test_columns_and_data_type(new_data)

my_test_results['cols_and_dtype'] = cols_and_dtype

[SUCCESS] - dataframes have same columns and dtypes

In [21]:
gte_min = test_gte_min_variables(new_data)

my_test_results['gte_min'] = gte_min

[SUCCESS] - All ORDERNUMBER >= minimum requirement
[SUCCESS] - All ORDERLINENUMBER >= minimum requirement

In [22]:
outlier_variables = test_continuous_outlier_variables(new_data)

my_test_results['outlier_variables'] = outlier_variables

[SUCCESS] - QUANTITYORDERED - fits the outlier requirements!
[SUCCESS] - PRICEEACH - fits the outlier requirements!
[SUCCESS] - SALES - fits the outlier requirements!
[SUCCESS] - MSRP - fits the outlier requirements!

In [54]:
unique_results = [i for i in my_test_results.values()]

if all(unique_results):
    print('[Success] - All tests have passed:')
    [print(i) for i in my_test_results.items()]
else:
    print('[Error] - All Tests did not pass!')
    [print(i) for i in my_test_results.items()]

[Success] - All tests have passed:
('cols_and_dtype', True)
('gte_min', True)
('outlier_variables', True)